<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.apps.nexuslauncher.overlay.nio">
    <application android:label="NexusLauncherOverlayNio" android:hasCode="false"/>
    <overlay android:targetPackage="com.google.android.apps.nexuslauncher" android:isStatic="true"/>
</manifest>
